<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <style>
                .error {
                    color: red;
                }
                .ul{
                    list-style-type: none;
                }
  
            </style>
    </head>
    <body>

            <a href="/blog">Main Blog Page</a> | <a href="/newpost">Add A Blog Entry</a> | <a href="/login">Login</a> | <a href="/logout">Logout</a>

    
    {% block content %}
        {% endblock %}
    </body>
</html>