{% extends "base.html" %}

{% block content %}
        <h1>signup</h1>
        <form action="/signup" method='POST'>
            <table>
                
                    <tr></tr>
                        <td>
                            <label for="username">username</label>
                        </td>
                        <td>
                            <input type='text' name='username' value="{{username}}"/>
                        </td>
                        <td>
                            <span class="error">{{user_error}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="password">Password</label>
                        </td>
                        <td>
                            <input type='password' name='password'>  
                        </td>
                        <td>
                            <span class="error">{{password_error}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="verify">Verify Password</label>
                        </td>
                        <td>
                            <input type='password' name = 'verify'>
                            
                        </td>
                        <td>
                            <span class="error">{{verify_error}}</span>
                        </td>
                    </tr>
                    
            </table>
            
            <input type='submit'/>

        </form>
        {% endblock %}

